<table border="1">
    <caption>Wrong accounts in PersonMgr</caption>
    <thead>
        <tr><th>ID</th><th>Error</th></tr>
    </thead>
    <tbody>
    {{#accounts}}
        <tr>
            <td><a href="{{billingUrl}}/account/{{accountId}}/services">{{accountId}}</a></td>
            <td>{{error.text}}</td>
        </tr>
    {{/accounts}}
    </tbody>
</table>